.searchweather {
    box-sizing: border-box;
   margin: 70px auto;
   padding: 55px;
   width: 750px;
   height: 250px;
   background-color: #C1B5A7;
   border-radius: 20px;
}

.searchweather div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.searchweather div p {
    font-size: 30px;
}